@font-face {
    font-family: 'BMJUA';
    font-weight: normal;
    font-style: normal;
    src: url('https://github.com/TAKGi/test/0.1/BMJUA_ttf.eot');
    src: url('https://github.com/TAKGi/test/0.1/BMJUA_ttf.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/TAKGi/test/0.1/BMJUA.woff') format('woff'),
         url('https://github.com/TAKGi/test/0.1/BMJUA.ttf') format('truetype'),
         url('https://github.com/TAKGi/test/0.1/BMJUA.svg#BMJUA') format('svg');
}
